doctype html
html(lang='en')
  head
    title Weekly Agenda Test
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js', integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section.hero.is-dark
      .hero-body
        .container
          h1.title
            | Weekly schedule test by JCam
          h2.subtitle
            | Built in ExpressJS environment using Bulma, Sass and Pug.
          p= moment().format("dddd, MMMM Do")
    section.section
        .container
            .columns
                .column
                    .level
                        .level-left
                            .level-item
                                .title contact: jay@rebosante.com
                        .level-right
                            .level-item
                                .box
                                    .heading Week from
                                    .title= fDay + ' to ' + lDay
                                    .level.m-t-md
                                        .level-item
                                             div
                                                .heading Current week
                                                .title.is-5= moment().format("wo")
                                        .level-item
                                            div
                                                .heading Year
                                                .title.is-5= moment().format("YYYY")
    section
      .container
        .panel
          p.panel-heading
            | Current week days
          .panel-block.has-day
            .columns
              .column
                .columns
                  .column.is-3
                    div Day
                  .column
                    .columns
                      .column.is-2.has-text-centered
                        div time
                      .column
                        div description
              .column
                .columns
                  .column
                    div task
                  .column.is-2.has-text-centered
                    div done
          #day-content.panel-block.has-day
            each val, i in days
              .columns.is-day-block
                .column
                  .columns
                    .column.is-3
                      .title.m-b-xs.has-text-success= val.fullday.format("ddd")
                      .title.m-b-xs.has-text-info= val.fullday.format("D")
                      .is-size-7
                        | Saint day: 
                        span.has-text-info= val.saints
                    .column
                      .columns
                        .column.is-2.has-text-centered
                          div -
                          div -
                          div -
                          div -
                        .column
                          div -
                          div -
                          div -
                          div -
                .column
                  .columns
                    .column
                      div -
                      div -
                      div -
                      div -
                    .column.is-2.has-text-centered
                      div -
                      div -
                      div -
                      div -
    script(defer='', src='javascripts/bundle.js')
